.community-container{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.community-banner{
    background-color: rgb(133, 133, 133);
    height: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.community-banner .banner-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
}

.banner-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.community-category{
    position: absolute;
    bottom: 0;
    left: 0;
    width: fit-content;
    padding: 0.75rem 1rem 0.75rem 0.5rem;
    border-top-right-radius: 20px;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #fff;
}

.community-category li{
    padding: 0.5rem 1.75rem;
    border: none;
    cursor: pointer;
}

.categoryActive{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a40000;
    color: #fff;
    border-radius: 10px;
    font-weight: 800;
}

.searchWrap{
    position: absolute;
    max-width: 860px;
    width: 100%;
    background: white;
    margin: 60px auto;
    border: 2px solid #a40000;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.25rem;
    border-radius: 10px;
}

.searchInput{
    border: none;
    background-color: initial;
    width: 100%;
    max-width: 860px;
    font-size: 1rem;
}

.searchInput::placeholder{
    font-size: 0.8rem;
}

.searchIcon{
    margin-left: 4px;
    width: 30px;
}

.postsWarp{
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 5rem auto;
}

.postHeader{
    position: relative;
    display: flex;
    align-items: center;
}

.title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    
}

.postsNum {
    font-weight: 500;
    color: white;
    font-size: 1rem;
    background: #a40000;
    border-radius: 30px;
    padding: 0.25rem 1rem;
}

.postHeader button{
    position: absolute;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    right: 10px;
    color: #a40000;
    border: 1px solid #a40000;
    background: #fff;
    padding: 0.45rem 1rem;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.penIcon{
    width: 20px;
    margin-bottom: 1.5px;
}

.postSection{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    margin: 0 auto;
    padding: 0.5rem;
    border: 1px solid #a40000;
    border-radius: 5px;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.postList{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem;
    border-bottom: 1px solid #a40000;
}

.groupList {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0.75rem;
    border-bottom: none;
}

.postList:last-child{
    border-bottom: none;
}

.postList .postListImg,
.postNoImg {
    width: 150px;
    height: 150px;
    background-color:  rgb(194, 194, 194);
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


.postListSkeletonImg {
    width: 140px;
    height: 140px;
    background-color: rgb(179, 179, 179);
    border-radius: 10px;
}

.tags{
    display: flex;
    gap: 0.5rem;
    height: fit-content;
}

.contentTopSkeleton{
    height: 25px;
    gap: 1rem;
    border-radius: 10px;
}

.tagsSkeleton{
    width: 100%;
    background-color: rgb(179, 179, 179);
    border-radius: 10px;
}

.dateSkeleton {
    width: 100px;
    background-color: rgb(179, 179, 179);
    border-radius: 10px;
}

.postListTitleSkeleton{
    width: 50%;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(179, 179, 179);
}

.postListTextSkeleton{
    background-color: rgb(179, 179, 179);
    height: 20px;
    border-radius: 10px;
}

.writerSkeleton{
    width: 150px;
    height: 1rem;
    background-color: rgb(179, 179, 179);
    border-radius: 10px;
}

.tags li{
    background-color: #d65858;
    color: white;
    font-size: 0.75rem;
    padding: 0.2rem  0.5rem;
    border-radius: 0.25rem;
}

.postContent {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 0.75rem;
}

.postContentSkeleton{
    gap: 0.5rem;
}

.contentTop {
    display: flex;
    justify-content: space-between;
    margin-right: 5px;
}

.contentTop p{
    font-size: 0.8rem;
    color: rgb(133, 133, 133);
}

.text{
    font-size: 0.8rem;
    color: rgb(133, 133, 133);
}

.bagde{
    width: 20px;
}

.writer{
    margin-top: 8px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.85rem;
}


.contentBottom {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.likeButton{
    height: fit-content;
    display: flex;
    gap: 0.5rem;
    align-items: flex-end;
    font-size: 0.8rem;
}

.thumbIcon{
    width: 1rem;
    margin-bottom: 2px;
}


/* community new post */

.communityPostingWrap {
    background-color: #f8f8f8;
    padding: 60px 0;
}

.communityPostingContainer{
    background-color: white;
    border: 1px solid #dbdbdb;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    max-width: 780px;
    padding: 2rem;
    border-radius: 10px;
}

.postingType{
    border-bottom: 1px solid #a40000;
    width: 100%;
    padding-bottom: 1rem;
    margin-bottom: 2rem;

}

.communityPostForm {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.communityFormTop{
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
    flex: 1;
}

.communityTitleBox {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.communityTitleBox input,
.communityTagBox input {
    border: none;
    background: #eee;
    flex: 1;
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
}

.communityCategories{
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-left: 3rem;
}

.categoryCheck{
    border: 1px solid #a40000;
    padding: 0.25rem 1rem;
    font-size: small;
    border-radius: 5px;
    cursor: pointer;
}

.categoryCheck:hover{
    scale: 1.05;
}

.postingActive{
    background: #a40000;
    color: white;
}

/* text */
.communityTextBox{
    padding: 1rem;
    border-radius: 10px;
    margin-top: 0;
    display: flex;
    gap: 0.5rem;
}

.communityTextBox .boxTitle{
    padding-top: 0.25rem;
}

.communityTextBox textarea {
    flex: 1;
    border: none;
    background-color: #eee;
    border-radius: 5px;
    padding: 0.75rem;
    min-height: 380px;
}

/* tags */
.communityTagBox {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 0.5rem 0.75rem;
}

/* buttons */
.postingBtns{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.communityCancelButton {
    background-color: white;
    border: 1px solid #a40000;
    color: #a40000;
    padding: 0.5rem 2rem;
    font-weight: bold;
    border-radius: 20px;
}

.communityPostButton{
    background-color: #a40000;
    color: white;
    border: none;
    width: fit-content;
    padding: 0.5rem 2rem;
    font-weight: bold;
    border-radius: 20px;
}


/* uploader */
.communityImgBox {
    border: 1px solid #a40000;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    gap: 1rem;
    /* min-height: 200px; */
}

.communityImgBox label {
    border: 3px dotted #a40000;
    height: 100%;
    padding: 3.5rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

#file {
    display: none;
}

.imgIcon {
    width: 60px;
}

.previewImg {
    flex: 1;
    width: 100%;
}

.previewImg img {
    object-fit: cover;
    width: 100%;
}

.imgWrap {
    width: 100%;
    flex: 1;
}

.previewWrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}


.noPostsResult{
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}