.groupContent {
	flex-wrap: nowrap;
	box-sizing: border-box;
	width: 100%;
	min-width: 440px;
	margin-bottom: 8rem;
}
.groupContainer {
	display: flex;
	padding-top: 80px;
	width: 100%;
	gap: 12px;
}

.group {
	position: relative;
	width: 100%;
	height: 100%;
    line-height: 200%;
	
	h1 {
		display: flex;
		font-size: 21px;
		font-weight: 500;
		margin-bottom: 0.8rem ;
	}
	.boxContainer{
		display: block;
		border: 1px solid #C1C1C1;
		background-color: white;
		box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  		border: 1px solid #ebebeb;
		border-radius: 10px;
		padding: 0 1rem;
		margin-bottom: 1rem;
		line-height: 140%;
	
		.groupField {
			display: flex;
			justify-content:space-between;
			align-items: center;
			width: 100%;
			padding: 16px;
			&:hover {
				background-color: rgb(255, 248, 248);
				border-radius: 1rem;
				transition: all 0.2s;
			}
			.groupTitle{
				display: flex;
				align-items: center;
				padding: 1rem;
			}
			.imageContainer{
				display: flex;
				height: 8rem;
				width: 8rem;
				background-color: #D9D9D9;
				border-radius: 6rem;
				justify-content: center;
				align-items: center;
				.groupImage{
					height: 5rem;
					width: 5rem;
					display: block;
				}
			}
			.groupStatus {
				display: flex;
				flex-direction: column;
				padding: 2rem;
				align-items: left;
				margin-left: 2rem;
				span {
					font-size: 1.2rem;
					padding: 1rem 0;
				}
				h1 {
					font-size: 2rem;
					color: #9b9b9b;
				}
			}
		}
		.buttons{
			display: flex;
			align-items: center;
			height: 100%;
			border: none;
			border-radius:1px;
			padding: 2rem;
			.groupArrow{
				cursor: pointer;
				font-size: 1.4rem;
				padding: 2rem;
				margin-left: 4rem;
			}
		}
		
		.checkPoint {
			display: flex;
			justify-content:space-between;
			transition:all 0.6s;
			padding: 1rem;
		}
	}
	.panel-checkPoint, .panel-coupon{
		overflow: hidden; 
		height: 0;
		transition:all 0.4s;
	}
	.dropdown{
		padding: 1rem;
		display: block;
		height: auto;
	}
}
.user-group-img {
	width: 150px;
	height: 150px;
	object-fit: cover;
}

.user-group-category {
	background-color: #ae5b5b;
	color: white;
	width: fit-content;
	padding: 0 1.5rem;
	border-radius: 0.5rem;
}

.user-group-lists {
	padding: 1.5rem;
	border-radius: 0.5rem;
	min-width: 780px;
}

.user-group-lists li{
	border-bottom: 1px solid #9b9b9b;
	padding-bottom: 1.5rem;
	margin-bottom: 1.5rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
	
.user-group-lists li:last-child {
	border-bottom: none;
	margin-bottom: 0;
	padding-bottom: 1rem;
}

	.modal-open-btn {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #fff;
		cursor: pointer;
		color: #c1c1c1;
		width: 100%;
		height: 4.5rem;
		margin: 0;
		padding: 1rem;
		border: 1px solid #c1c1c1;
		border-radius: var(--rounded-normal);
		line-height: 140%;
		font-size: 1.1rem;
		font-weight: 400;
		
			&:hover{
				background-color: #f3f3f3;
				color: #a3a3a3;
			}
		}
		.modal-open-button{
			cursor: pointer;
			background-color: #000000;
			width: 24rem;
			height: 4rem;
		}
		.modal-close-btn {
			border: 1px solid #c1c1c1;
			border-radius: var(--rounded-normal);
			height: 3rem;
			background-color: #fff;
			color: #9b9b9b;
			text-decoration: underline;
		}
		.modal-container {
			z-index: 999;
			width: 100%;
			height: 100%;
			position: fixed;
			top: 0;
			left: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			background: rgba(0, 0, 0, 0.5);
		}
		
		.modal-content {
			display: flex;
			justify-content:space-between;
			align-items: center;
			background-color: #ffffff;
			width:50rem;
			height: 40rem;
			padding: 1.5rem;
			border-radius: 1rem;

			.data{
				width: 100%;
				height: 100%;
				display: flex;
				flex-direction: column;
				padding-left: 1.5rem;

				.modal-inner-boxContainer {
					display: flex;
					height: 45%;
					border: 1px solid #C1C1C1;
					box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
					border-radius: 10px;
					padding: 2rem;
					margin-bottom: 1rem;
				}
			}
		}
		.modal-content-button {
			cursor: pointer;
			background-color: #A40000;
			color: #fff;
			font-size: 1.4rem;
			font-weight: 400;
			border: none;
			border-radius: 0.6rem;
			width: 24rem;
			height: 4rem;
			margin-top: 1rem;

		}
		.modal-boxContainer {
			display: block;
			border: 1px solid #C1C1C1;
			box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
			border-radius: 10px;
			padding: 2rem;
		}
