.small-footer-wrap{
border-radius: 7px;
box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px 0px;
border: 1px solid rgb(200, 205, 224);
overflow: hidden;
background-color: rgb(255, 255, 255);
width: 420px;
}
.small-footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff; /* 배경색을 원하는 대로 설정하세요 */
    color: #333; /* 글자 색상을 원하는 대로 설정하세요 */
    font-size: 12px;
    border-top: 1px solid #ddd; /* 상단에 경계선이 있다면 추가 */
}
.small-footer-menu-lists{
	display: flex;
	li{
		margin-right: 16px; /* 링크 사이의 간격을 조정하세요 */
		color: #333; /* 링크 색상 */
		text-decoration: none; /* 밑줄 제거 */
		&:hover {
			text-decoration: underline; /* 마우스를 올렸을 때 밑줄이 생기게 함 */
		}
	}
}
.small-footer-low{
	.logo{
		height: 1rem;
	}
	.copyright{
		white-space: nowrap;
	}
}