.userNavContainer {
	float: left;
	width: 260px;
	height: auto;
	padding: 80px 48px 0 0;
	unicode-bidi: isolate;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}
.userInfo {
	padding: 1rem;
	line-height: 1.6rem;
	margin-bottom: 2.8rem;
}
.userInfo p {
	margin-left: 0.4rem;
	font-size: 1rem;
	margin-bottom: 1.4rem;
}
.userInfo p strong {
	text-decoration: underline;
}
.userInfo span {
	display: flex;
}
	
.userInfo .dailyButton {
	display: flex;
	padding: 0.7rem;
	color: #fff;
	justify-content:center;
	align-items: center;
	width: 7rem;
	height: 2rem;
	background-color: #a40000;
	border: none;
	border-radius: 2rem;
}
.dailyButton:disabled{
	background-color: #818181;
	&:hover {
		background-color: #727272;
		color: #fff;
	}
	&:active{
		background-color: #727272;
		color: #fff;
	}
}
.userInfo .dailyButton h3 {
	display: flex;
	font-size: 0.9rem;
	font-weight: 600;
}
.userInfo .dailyButton h3 small{
	margin-left: 8px;
}

.userInfo button:hover {
	background-color: #990000;
	color: #fff1f1;
}
.userInfo button:active {
	background-color: #750000;
	color: #ffcccc;
}



.UserNSB {
display: block;
}
.UserNSB .on {
	color: #a40000;
	border-left: 3px solid #a40000;
}
.UserNSB .userlink {
	margin-left: 12px;
	display: flex;
	margin-bottom: 1rem;
	padding: 0.2rem 0 0.2rem 1rem
}
