
.event-banner-container {
  display: flex;
  padding: 3rem;
  height: auto;
  gap: 0.5rem;
}
.event-banner-container-hide{
  display: hide;
  cursor: none;
}

.trailsText {
  position: relative;
  width: 100%;
  height: 80px;
  line-height: 80px;
  color: #6d6d6d;
  font-size: 6em;
  font-weight: 800;
  letter-spacing: -0.05em;
  will-change: transform, opacity;
  overflow: visible;
  margin-bottom: 1rem;
}

.trailsText > div {
  padding-right: 0.05em;
  overflow: hidden;
}
.trailsText:nth-child(3){
  margin-top: 2.4rem;
}
.trailsText:last-child{
  margin-top: 4rem;
  color: #A40000;
}
