$primary-color: #a40000;
$gray-color: #ddd;
$medium-up: 600px;
$large-up: 1000px;
$global-radius: 4px;

*,*:before,*:after{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.content {
	flex-wrap: nowrap;
	box-sizing: border-box;
	width: 100%;
	min-width: 440px;
}
.container {
	display: flex;
	width: 100%;
	gap: 12px;
}

.wrote {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;

	h1 {
		background-color: white;
		box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  		border: 1px solid #ebebeb;
		padding: 1rem;
		border-radius: 10px;
	}
	.boxContainer {
		background-color: white;
		box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  		border: 1px solid #ebebeb;
		border-radius: 10px;
		padding: 0 1rem;
		
		.wroteField {
			display: flex;
			width: 100%;
			padding: 16px;
		}
		table {
			border-collapse: collapse;
			width: 100%;
			thead {
				border-bottom: 1px solid #a84242;

				tr {
					padding: 0.35em 0 .35em;
					text-align: center;
					font-size: 1rem;
					height: 3rem;

					th{
						font-weight: 400;
					}
					.cate {
						width: 20%;
					}
					.title {
						width: 60%;
					}
					.date {
						width: 20%;
					}
				}
			}
			tdody {
				border-bottom: 1px solid red;
				tr {
					padding: 0.35em 0 .35em;
					text-align: center;
					font-size: 1rem;
					height: 30rem;
				}
			}
		}
		
		div {
			width: 100%;
		}
		span {
			padding: 0.5rem;
		}
	}
}
